body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.task-card button {
  background-color: red;
  color: white;
  border-color: red;
  font-weight: bold;
}

.task-card.overdue {
  background-color: rgb(187, 29, 29);
  color: black;
}

.task-card.nearing {
  background-color: rgb(250, 205, 3);
  color: black;
}

.task-card.task-done {
  background-color: green;
}