body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card h5 {
  background-color: rgba(181, 180, 180, 0.955);
}

.task-card:hover {
  cursor: grab;
}

.task-card button {
  background-color: red;
  color: white;
  border-color: red;
  font-weight: bold;
}

.task-card.overdue {
  background-color: rgb(187, 29, 29);
  color: black;
}

.task-card.overdue h5 {
  background-color: rgb(141, 32, 32);
}

.task-card.nearing {
  background-color: rgb(250, 205, 3);
  color: black;
}

.task-card.nearing h5 {
  background-color: rgb(213, 185, 60);
}

.task-card.task-done {
  background-color: rgb(17, 193, 17);
}

.task-card.task-done h5 {
  background-color: green;
}